### C++
*.o
*.a
*.so

### CMake
build/
cmake-build-debug/
cmake-build-release/

### Binaries
bin/Engine
bin/Release/

### VS Code
.vscode/

### JetBrains
.idea/

### Shader
*.spv

### Python
venv/

### Logs ###
*.log