#ifndef LITTLEVULKANENGINE_{{projectNameMacro}}_HPP
#define LITTLEVULKANENGINE_{{projectNameMacro}}_HPP


#include "core/Application.hpp"


namespace lve {

    class {{projectName}} : public Application {
    public:
        {{projectName}}();

        ~{{projectName}}() override;

        void setup() override;

        void update(float deltaTime) override;

        void setupSettingsFields() override;

        void setupConsoleCommands() override;

        void setupInputBindings() override;
    };

} // namespace lve


#endif // LITTLEVULKANENGINE_{{projectNameMacro}}_HPP
