#include "{{projectName}}.hpp"

#include <CLI/App.hpp>

#include "logs/Logs.hpp"
#include "config/Cli.hpp"


int main(int argc, char** argv) {
    CLI::App app{"App description"};
    lve::Cli::setup(app);
    CLI11_PARSE(app, argc, argv);

    try {
        auto application = std::make_unique<lve::{{projectName}}>();
        application->run(argc, argv);
    } catch (const std::runtime_error& e) {
        LVE_LOG_CRITICAL(e.what());
    }

    return 0;
}
