#include "{{projectName}}.hpp"


namespace lve {

    {{projectName}}::{{projectName}}() : Application("{{projectRealName}}") {

    }

    {{projectName}}::~{{projectName}}() = default;

    void {{projectName}}::setup() {
        Application::setup();

    }

    void {{projectName}}::update(float deltaTime) {
        Application::update(deltaTime);

    }

    void {{projectName}}::setupSettingsFields() {
        Application::setupSettingsFields();

    }

    void {{projectName}}::setupConsoleCommands() {
        Application::setupConsoleCommands();

    }

    void {{projectName}}::setupInputBindings() {
        Application::setupInputBindings();

    }

} // namespace lve
